body{
    background-color: rgb(53, 53, 53);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    padding: 10px;
    max-width: 500px;
    margin: 100px auto;
    background-color: darkgreen;
    color:aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 5px #fff;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 15px;
}
form label{
    font-size: 25px;
    margin-bottom: 10px;
}
form input {
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
}
form select{
    padding: 8px;
}
form button{
    padding: 8px;
    background-color: cadetblue;
    border: noen;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 25px;
    color:aliceblue;
}
table{
    max-width: 900px;
    margin: 0 auto;
}

